body {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 300;
    color: #black;
    line-height: 30px;
    text-align: center;
    background-color: #222733;
    text-decoration-color: black;

}
/*strong { 
	font-weight: 500; 
}
a, a:hover, a:focus {
	text-decoration: none;
}

*/