*{
	margin:0;
	padding:0;
	text-decoration:none;
	list-style:none;
	font-family:sans-serif;
}

center{
	position:relative;
	margin:20px auto;
	width:600px;
	height:60px;
	text-align:center;
	line-height:60px;
	background:green;
	color:white;
	font-weight:bold;
	border:5px solid #ccc;
	border-radius:20px;	
}

#Tecladoclss{	
	position:relative;
	margin:20px auto;
	width:300px;
	height:600px;
	border:1px solid #aaa;
	border-radius:20px;
	background:#ddd;	
}

#OperacionLlamar{
	position:relative;
	margin:20px auto;
	height: 20px;
	width:70%;
	background:#ddd;
	border-radius:10px;
	padding:10%;
	text-align:right;
	font-size:25px;
	overflow:hidden;
}

#Tecladoclss ul {
	margin-left:5px;
}

#Tecladoclss ul li{
	float:left;
	padding:32px;
	width:15px;
	text-align:center;
	margin:8px;
	background:white;
	border:1px solid #aaa;
	border-radius:80px;
	box-shadow:5px 5px 10px #999;
	font-weight:bold;
	cursor:pointer;	
}

#Tecladoclss ul li:hover{
	background:gray;
	color:white;
}

#Tecladocls ul li:active{
	background:magenta;
	color:white;
}
#Llamar {
	position:absolute;
  	  border: 5px solid green;
    border-radius: 50px 50px;
    bottom: 20px;
    left: 90px;
    padding: 5px 25px;
    background: green;
    color: white;
    letter-spacing: 2px;
    cursor: pointer;
	

}
#llamar :hover{
	background: gray;


}
#borrar{
	position:absolute;
	bottom:10px;
	padding: 5px 15px;
	width:10px;
	background:gray;
	 border: 10px solid red;
	left: 200px;
	border:5px solid #bbb;
	color:white;
	cursor:pointer;
	border-radius: 50px 20px;
	margin-bottom: 10px;

	 /*border: 2px solid red;*/
  
}

#borrar:hover{
	background:#D0E9DB;
}
	
	
#borrar:active{
	background:cyan;
}


#Titulo {
	 

	 text-align: center;
	 text-transform: lowercase;

}
#iconos {
	
    float:middle; 
    margin-left:70px;
  



}
#Altice {
	float: left;
	margin-left: 16px;
}
#Hora{
	float: right;
	margin-right: 95px;

}
#bateria{
	float: right;
	margin-right: 10px;

	

}


/*Problema 4*/


#Layer5{


	position:absolute;
	 width:15px; 
	 height:27px; 
	 z-index:2; 
	 left: 119px;
	  top: 162px;
}